<div class="bg-indigo-400 text-white text-3xl font-bold pt-4 pb-16 px-8 flex items-center justify-between flex-col sm:flex-row">
  <div><%= t('.title', resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: 'registrations.edit.title')) %></div>
  <div></div>
</div>
<div class="bg-indigo-400 pt-4 pb-16 relative z-10"></div>
<div class="p-0 sm:p-6 -mt-24">
  <div class="bg-white shadow-md rounded-none sm:rounded-lg p-4 sm:p-8 min-h-[300px] border border-gray-200 relative z-10 w-full">


    <!-- Content -->
    <div class="container mx-auto px-4 py-6 max-w-xl">
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "bg-white p-6 rounded-lg shadow-md" }) do |f| %>

        <div class="mb-4">
          <%= f.label :name, class: "block text-gray-700 font-semibold mb-2" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        </div>

        <div class="mb-4">
          <%= f.label :email, class: "block text-gray-700 font-semibold mb-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="text-sm text-gray-600 mb-4">
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
          </div>
        <% end %>

        <div class="mb-4">
          <%= f.label :password, class: "block text-gray-700 font-semibold mb-2" %>
          <i class="text-sm text-gray-600"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></i>
          <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mt-1" %>
          <% if @minimum_password_length %>
            <em class="text-xs text-gray-500"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, class: "block text-gray-700 font-semibold mb-2" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        </div>

        <div class="mb-4">
          <%= f.label :current_password, class: "block text-gray-700 font-semibold mb-2" %>
          <i class="text-sm text-gray-600"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mt-1" %>
        </div>

        <div class="actions flex justify-center">
          <%= f.submit t('.update'), class: "btn-fancy" %>
        </div>
      <% end %>

      <div class="mt-8 text-center">
        <%= button_to t('.cancel_my_account'), registration_path(resource_name),
          data: { confirm: t('.are_you_sure'), turbo_confirm: t('.are_you_sure') },
          method: :delete,
          class: "bg-white text-black uppercase px-3 py-2 rounded-full shadow-md border border-gray-300 hover:bg-gray-100 transition" %>
      </div>
    </div>


    
  </div>
</div>



