<div data-controller="locale-switch">
  <!-- Výber jazyka -->
  <div class="mb-4">
    <label class="text-sm font-medium text-gray-500"><%= t('common.actions.select_language') %></label>
    <select data-action="change->locale-switch#changeLocale" class="border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500 appearance-none pl-2 pr-10">
      <% I18n.available_locales.each do |locale| %>
        <option value="<%= locale %>"><%= locale.to_s.upcase %></option>
      <% end %>
    </select>
  </div>

  <%= form_with model: [:admin, exercise], class: "space-y-6" do |f| %>

    <% I18n.available_locales.each_with_index do |locale, index| %>
      <div class="<%= index.zero? ? '' : 'hidden' %>" data-locale-switch-target="localeInput" data-locale="<%= locale %>">
        <div class="flex flex-col">
          <%= f.label "name_#{Mobility.normalize_locale(locale)}", t('.name') + " (#{locale.to_s.upcase})", class: "text-sm font-medium text-gray-700 mb-2" %>
          <%= f.text_field "name_#{Mobility.normalize_locale(locale)}", class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500 mb-2" %>
        </div>

        <div class="flex flex-col">
          <%= f.label "description_#{Mobility.normalize_locale(locale)}", t('.description') + " (#{locale.to_s.upcase})", class: "text-sm font-medium text-gray-700 mb-2" %>
          <%= f.text_area "description_#{Mobility.normalize_locale(locale)}", rows: 4, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
        </div>
      </div>
    <% end %>

    <!-- Ostatné polia mimo jazyka -->
    <div class="flex flex-col">
      <%= f.label :set, t('.set'), class: "text-sm font-medium text-gray-700 mb-2" %>
      <%= f.number_field :set, min: 1, step: 1, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="flex flex-col">
      <%= f.label :repetition, t('.repetition'), class: "text-sm font-medium text-gray-700 mb-2" %>
      <%= f.number_field :repetition, min: 1, step: 1, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <!-- YouTube Video -->
    <div class="flex flex-col">
      <%= f.label :video_url, "YouTube Video URL", class: "text-sm font-medium text-gray-700 mb-2" %>
      <%= f.text_field :video_url, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
      <p class="text-xs text-gray-500 mt-1"><%= t(".example") %>: https://www.youtube.com/watch?v=dQw4w9WgXcQ</p>

      <%# if @exercise.errors[:video_url].any? %>
        <!-- <p class="text-red-500 text-sm mt-1"><%= @exercise.errors[:video_url].first %></p>-->
      <%# end %>
    </div>


    <!-- Images -->
    <div class="flex flex-col">
      <%= f.label :images, t('.images_upload'), class: "text-sm font-medium text-gray-700 mb-2" %>
      
      <% if exercise.images.attached? %>
        <!-- Zobrazenie obrázkov -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4">
          <% exercise.images.each do |image| %>
            <div class="relative group">
              <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
              <%= image_tag(image, class: "max-w-full max-h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105 group-hover:shadow-xl") %>
              
              <!-- Delete Icon -->
              <%= link_to remove_image_admin_exercise_path(image), 
                    data: { turbo_method: :delete, turbo_confirm: t('common.actions.confirm_delete') }, 
                    class: "absolute top-2 left-2 opacity-0 group-hover:opacity-100 transition-opacity icon-button" do %>
                      <img src="<%= asset_path('delete-icon.png') %>" alt="Delete" class="w-5 h-5"/>
                    <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- Pridanie nových obrázkov -->
      <%= f.file_field :images, multiple: true, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500 mt-4" %>
    </div>



    <div class="flex justify-center">
      <%= f.submit t('.submit'), class: "btn-fancy" %>
    </div>

  <% end %>
</div>
