<%= form_with model: [ :admin, exercise ], class: "space-y-6" do |f| %>

  <% I18n.available_locales.each do |locale| %>
    <div class="flex flex-col">
      <%= f.label "name_#{Mobility.normalize_locale(locale)}", t('.name') + " (#{locale.to_s.upcase})", class: "text-sm font-medium text-gray-700 mb-2" %>
      <%= f.text_field "name_#{Mobility.normalize_locale(locale)}", class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="flex flex-col">
      <%= f.label "description_#{Mobility.normalize_locale(locale)}", t('.description') + " (#{locale.to_s.upcase})", class: "text-sm font-medium text-gray-700 mb-2" %>
      <%= f.text_area "description_#{Mobility.normalize_locale(locale)}", rows: 4, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= f.label :set, t('.set'), class: "text-sm font-medium text-gray-700 mb-2" %>
    <%= f.text_field :set, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :repetition, t('.repetition'), class: "text-sm font-medium text-gray-700 mb-2" %>
    <%= f.text_field :repetition, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="flex flex-col">
    <%= f.label :images, t('.images_upload'), class: "text-sm font-medium text-gray-700 mb-2" %>
    <% if exercise.images.attached? %>
      <% exercise.images.each do |image| %>
        <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
        <%= image_tag(image) %>
        <%= link_to t('common.actions.delete'), remove_image_admin_exercise_path(image), data: {turbo_method: :delete, turbo_confirm: t('common.actions.confirm_delete')} %>
      <% end %>
    <% end %>
    <%= f.file_field :images, multiple: true, class: "border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div>
    <%= f.submit t('.submit'), class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  </div>
<% end %>
