
<div class="flex justify-between items-center mb-6  pb-3">
  <p class="text-2xl font-semibold text-slate-900">
    <%= t('.title') %>
  </p>
  <%= link_to t('.new'), new_admin_exercise_path, class: "btn-fancy" %>
</div>


<div class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
  <div class="p-6 px-0 overflow-scroll">
    <table class="w-full text-left table-auto min-w-max">
      <thead>
        <tr>
          <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"><%= t('.table.headers.name') %></p>
          </th>
          <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"><%= t('.table.headers.description') %></p>
          </th>
          <th class="p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
            <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"></p>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @exercises.each do |exercise| %>
          <tr class="hover:bg-slate-50">
            <td class="p-4 border-b border-blue-gray-50">
              <div class="flex items-center gap-3">
                <% if exercise.images.first&.representable? %>
                  <%= link_to admin_exercise_path(exercise) do %>
                    <%= image_tag exercise.images.first.variant(:thumb), class: "relative inline-block h-14 w-14 border border-blue-gray-50 bg-blue-gray-50/50 object-contain object-center p-1" %>
                  <% end %>
                <% end %>
                <%= link_to exercise.name, admin_exercise_path(exercise), class: "block font-sans text-sm antialiased font-bold leading-normal text-blue-gray-900 hover:text-purple-700 transition-colors duration-300" %>                
              </div>
            </td>
            <td class="p-4 border-b border-blue-gray-50">
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"><%= exercise.description.truncate(75) %></p>
            </td>
            <td class="p-4 border-b border-blue-gray-50 space-x-2">
              <!-- Edit Icon -->
              <%= link_to edit_admin_exercise_path(exercise), class: "relative inline-block h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" do %>
                <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                  <img src="<%= asset_path('edit-icon.png') %>" alt="Edit" class="w-4 h-4"/>
                </span>
              <% end %>

              <!-- Delete Icon -->
              <%= link_to admin_exercise_path(exercise), 
                        data: { turbo_method: :delete ,turbo_confirm: t('common.actions.confirm_delete') }, 
                        class: "relative inline-block h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" do %>
                <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                  <img src="<%= asset_path('delete-icon.png') %>" alt="Delete" class="w-4 h-4"/>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

