<div class="bg-indigo-400 text-white text-3xl font-bold pt-4 pb-16 px-8 flex items-center justify-between flex-col sm:flex-row">
  <div><%= t(".title") %></div>
</div>
<div class="bg-indigo-400 pt-4 pb-16 relative z-10"></div>

<div class="p-0 sm:p-6 -mt-24">
  <div class="bg-white shadow-md rounded-none sm:rounded-lg p-4 sm:p-8 border border-gray-200 relative z-10 w-full">
    <!-- Content -->

    <!-- UPCOMING -->
    <div class="mb-10">
      <h2 class="text-xl font-semibold text-indigo-700 mb-4"><%= t(".upcoming") %></h2>

      <% if @upcoming_appointments.any? %>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6">
          <% @upcoming_appointments.each do |appointment| %>
            <%= render partial: "card", locals: { appointment: appointment } %>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-500"><%= t(".no_appointments") %></p>
      <% end %>
    </div>

    <!-- PAST -->
    <div class="mb-10">
      <h2 class="text-xl font-semibold text-gray-700 mb-4"><%= t(".past") %></h2>

      <% if @past_appointments.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          <% @past_appointments.each do |appointment| %>
            <%= render partial: "card", locals: { appointment: appointment } %>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-500"><%= t(".no_past_appointments") %></p>
      <% end %>
    </div>

    <!-- REJECTED -->
    <div class="mb-10">
      <h2 class="text-xl font-semibold text-red-700 mb-4"><%= t(".rejected") %></h2>

      <% if @rejected_appointments.any? %>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6">
          <% @rejected_appointments.each do |appointment| %>
            <%= render partial: "card", locals: { appointment: appointment } %>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-500"><%= t(".no_rejected_appointments") %></p>
      <% end %>
    </div>

  </div>
</div>
