<div class="relative flex flex-col bg-white shadow-md border border-slate-200 rounded-lg w-full h-full">
  <!-- Header  -->
  <div class="mx-3 mb-0 border-b border-slate-200 pt-3 pb-2 px-1">
    <%= link_to plan.name, admin_plan_path(plan), 
        class: "text-slate-800 text-lg font-semibold text-center block hover:underline" %>
  </div>

  <!-- Description -->
  <div class="p-4 flex-1">
    <p class="text-slate-600 leading-normal font-light">
      <%= plan.description %>
    </p>
  </div>

  <!-- Clients -->
  <div class="p-4 border-t border-slate-200">
    <p class="text-slate-700 font-semibold mb-2"><%= t('users_with_this_plan') %></p>

    <% admin_users = plan.users.where(admin: current_user) %>
    <% if admin_users.any? %>
      <ul class="list-none space-y-1">
        <% admin_users.each do |user| %>
          <li class="flex items-center gap-2 text-slate-600">
            <%= link_to user.name, admin_user_path(user), class: "hover:underline text-slate-800" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-slate-600"><%= t('no_users_assigned') %></p>
    <% end %>
  </div>
 
  
  <!-- Footer -->
  <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
    <div class="flex justify-center items-center gap-4">
      
      <!-- Edit Icon -->
      <%= link_to edit_admin_plan_path(plan), class: "icon-button" do %>
        <img src="<%= asset_path('edit-icon.png') %>" alt="Edit" class="w-5 h-5"/>
      <% end %>

      <!-- Delete Icon -->
      <%= link_to admin_plan_path(plan), 
              data: { turbo_method: :delete, turbo_confirm: t('common.actions.confirm_delete') }, 
              class: "icon-button" do %>
        <img src="<%= asset_path('delete-icon.png') %>" alt="Delete" class="w-5 h-5"/>
      <% end %>

      <!-- Assign Icon -->
      <%= link_to assign_admin_plan_path(plan), class: "icon-button", data: { turbo: false }, method: :post do %>
        <img src="<%= asset_path('person-icon.png') %>" alt="Assign" class="w-5 h-5"/>
      <% end %>
    </div>
  </div>
</div>