<!-- Header with title and button -->
<div class="flex justify-between items-center mb-6 pb-3">
  <p class="text-2xl font-semibold text-slate-900"><%= t('.title') %></p>
    <%= link_to t('.new'), new_admin_plan_path, class: "btn-fancy" %>
</div>

<p class="text-xl font-semibold text-slate-800 mb-4"><%= t('plans.all') %></p>

<!-- List of all plans -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-6 mb-10">
  <% @plans.each do |plan| %>
    <%= render partial: "all_plans", locals: { plan: plan } %>
  <% end %>
</div>

<hr class="mx-auto bg-black w-3/4 sm:w-1/2 mt-10 mb-8">

<!-- Plans by user -->
<div>
  <% @users.each do |user| %>
    <% user_plans = @user_plans.select { |up| up.user_id == user.id } %>

    <% if user_plans.any? %>
      <%= render partial: "admin/plans/user_plans", locals: { user: user, user_plans: user_plans } %>
    <% end %>
  <% end %>
</div>
