<h1 class="text-3xl font-extrabold text-gray-900 mb-6"><%= t('.title') %></h1>
<%= link_to t('common.actions.back'), admin_plans_path, class: "text-blue-600 hover:text-blue-800 mb-4 inline-block text-lg font-medium" %>
<hr class="my-6 border-t border-gray-200">

<div class="bg-white p-6 rounded-lg shadow-lg mb-6">
  <p class="text-2xl font-semibold text-gray-800 mb-4"><%= t('.fields.name') %>: <span class="text-blue-600"><%= @plan.name %></span></p>
  <p class="text-lg text-gray-700 mb-4"><%= t('.fields.description') %>: <%= @plan.description %></p>

  <div class="mt-6">
    <p class="text-xl font-semibold text-gray-800 mb-3"><%= t('.fields.exercises') %>:</p>
    <ul class="space-y-4">
      <% @plan.exercises.each do |exercise| %>
        <li class="p-4 bg-gray-100 rounded-lg shadow-sm hover:bg-gray-200">
          <p class="text-lg font-medium text-gray-800"><%= exercise.name %></p>
          <p class="text-sm text-gray-600"><%= exercise.description %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Priradiť klienta", assign_admin_plan_path(@plan) %>