<%= form_with model: plan do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <h3>Assign Exercises</h3>
    <%= f.collection_check_boxes(:exercise_ids, Exercise.all, :id, :name) do |cb| %>
      <div>
        <%= cb.check_box %> <%= cb.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>