<h1>Plans detail</h1>
<%= link_to 'Back', plans_path %>
<hr>

<p>Name: <%= @plan.name %></p>
<p>Description: <%= @plan.description %></p>

<p>Exercises for this plan: </p>
<% @plan.exercises.each do |exercise| %>
  <%= exercise.name%> 
  <%= exercise.description %>
  <br>
<% end %>