<h1>Detail of Exercise <%= @exercise.name %></h1>

<%= link_to 'Back', exercises_path %>
<hr>

<p><%= @exercise.name %></p>
<p><%= @exercise.description %></p>
<p><%= @exercise.set %></p>
<p><%= @exercise.repetition %></p>