<div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded">
  <h1 class="text-3xl font-bold text-gray-800 mb-6"><%= t('.title', name: @exercise.name) %></h1>

  <%= link_to t('common.actions.back'), exercises_path, 
      class: "inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 mb-6" %>
  <hr class="my-6 border-gray-300">

  <div class="space-y-4">
    <div>
      <h2 class="text-lg font-semibold text-gray-700"><%= t('.fields.name') %>:</h2>
      <p class="text-gray-600 text-base"><%= @exercise.name %></p>
    </div>

    <div>
      <h2 class="text-lg font-semibold text-gray-700"><%= t('.fields.description') %>:</h2>
      <p class="text-gray-600 text-base"><%= @exercise.description %></p>
    </div>

    <div>
      <h2 class="text-lg font-semibold text-gray-700"><%= t('.fields.set') %>:</h2>
      <p class="text-gray-600 text-base"><%= @exercise.set %></p>
    </div>

    <div>
      <h2 class="text-lg font-semibold text-gray-700"><%= t('.fields.repetition') %>:</h2>
      <p class="text-gray-600 text-base"><%= @exercise.repetition %></p>
    </div>

    <div>
      <% if @exercise.images.attached? %>
        <h2 class="text-lg font-semibold text-gray-700"><%= t('.fields.images') %>:</h2>
        <div class="grid grid-cols-2 gap-4">
          <% @exercise.images.each do |image| %>
            <%= image_tag(image, heith: 200) %> 
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
