<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t('app.name', default: "Physio App") %></title>
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="relative min-h-screen">
      <!-- Navbar -->
      <%= render "shared/navbar_#{user_signed_in? ? (current_user.admin? ? 'admin' : 'client') : 'public'}" %>

      <!-- Content -->
      <%= yield %>
    </main>
    <%= render "shared/notifications", locals: { notice: notice, alert: alert } %>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>

